# Machine Learning

## Read CSV

In [1]:
using Pkg
Pkg.add("DataFrames")

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
  Updating `~/.julia/environments/v1.1/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.1/Manifest.toml`
 [no changes]

In [2]:
using DataFrames

### Specify dataset (train.csv, test.csv) directory with command <em>cd(your/working/directory)</em>

In [3]:
# par exemple
cd("/Users/sandrapietrowska/Documents/xke/julia/")

### Use CSV package

In [4]:
using Pkg 
Pkg.add("CSV")
using CSV

 Resolving package versions...
  Updating `~/.julia/environments/v1.1/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.1/Manifest.toml`
 [no changes]

In [5]:
train = CSV.read("julia_data/train.csv")
test = CSV.read("julia_data/train.csv")

614×13 DataFrame. Omitted printing of 8 columns
│ Row │ Loan_ID  │ Gender  │ Married │ Dependents │ Education    │
│     │ String   │ String⍰ │ String⍰ │ String⍰    │ String       │
├─────┼──────────┼─────────┼─────────┼────────────┼──────────────┤
│ 1   │ LP001002 │ Male    │ No      │ 0          │ Graduate     │
│ 2   │ LP001003 │ Male    │ Yes     │ 1          │ Graduate     │
│ 3   │ LP001005 │ Male    │ Yes     │ 0          │ Graduate     │
│ 4   │ LP001006 │ Male    │ Yes     │ 0          │ Not Graduate │
│ 5   │ LP001008 │ Male    │ No      │ 0          │ Graduate     │
│ 6   │ LP001011 │ Male    │ Yes     │ 2          │ Graduate     │
│ 7   │ LP001013 │ Male    │ Yes     │ 0          │ Not Graduate │
│ 8   │ LP001014 │ Male    │ Yes     │ 3+         │ Graduate     │
│ 9   │ LP001018 │ Male    │ Yes     │ 2          │ Graduate     │
│ 10  │ LP001020 │ Male    │ Yes     │ 1          │ Graduate     │
⋮
│ 604 │ LP002958 │ Male    │ No      │ 0          │ Graduate     │
│ 605 │ LP002959 │ Female  │ Yes     │ 1          │ Graduate     │
│ 606 │ LP002960 │ Male    │ Yes     │ 0          │ Not Graduate │
│ 607 │ LP002961 │ Male    │ Yes     │ 1          │ Graduate     │
│ 608 │ LP002964 │ Male    │ Yes     │ 2          │ Not Graduate │
│ 609 │ LP002974 │ Male    │ Yes     │ 0          │ Graduate     │
│ 610 │ LP002978 │ Female  │ No      │ 0          │ Graduate     │
│ 611 │ LP002979 │ Male    │ Yes     │ 3+         │ Graduate     │
│ 612 │ LP002983 │ Male    │ Yes     │ 1          │ Graduate     │
│ 613 │ LP002984 │ Male    │ Yes     │ 2          │ Graduate     │
│ 614 │ LP002990 │ Female  │ No      │ 0          │ Graduate     │

### Use </em>describe</em> function from StatsBase package to see the basic statistics

In [6]:
Pkg.add("StatsBase")
using StatsBase

 Resolving package versions...
  Updating `~/.julia/environments/v1.1/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.1/Manifest.toml`
 [no changes]

In [7]:
describe(train)

13×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable          │ mean     │ min      │ median │ max          │
│     │ Symbol            │ Union…   │ Any      │ Union… │ Any          │
├─────┼───────────────────┼──────────┼──────────┼────────┼──────────────┤
│ 1   │ Loan_ID           │          │ LP001002 │        │ LP002990     │
│ 2   │ Gender            │          │ Female   │        │ Male         │
│ 3   │ Married           │          │ No       │        │ Yes          │
│ 4   │ Dependents        │          │ 0        │        │ 3+           │
│ 5   │ Education         │          │ Graduate │        │ Not Graduate │
│ 6   │ Self_Employed     │          │ No       │        │ Yes          │
│ 7   │ ApplicantIncome   │ 5403.46  │ 150      │ 3812.5 │ 81000        │
│ 8   │ CoapplicantIncome │ 1621.25  │ 0.0      │ 1188.5 │ 41667.0      │
│ 9   │ LoanAmount        │ 146.412  │ 9        │ 128.0  │ 700          │
│ 10  │ Loan_Amount_Term  │ 342.0    │ 12       │ 360.0  │ 480          │
│ 11  │ Credit_History    │ 0.842199 │ 0        │ 1.0    │ 1            │
│ 12  │ Property_Area     │          │ Rural    │        │ Urban        │
│ 13  │ Loan_Status       │          │ N        │        │ Y            │

### Use <em>names</em> function to see the column names

In [8]:
names(train)

13-element Array{Symbol,1}:
 :Loan_ID
 :Gender
 :Married
 :Dependents
 :Education
 :Self_Employed
 :ApplicantIncome
 :CoapplicantIncome
 :LoanAmount
 :Loan_Amount_Term
 :Credit_History
 :Property_Area
 :Loan_Status

### Use <em>size</em> function to see the size of train set

In [9]:
size(train)

(614, 13)

### Use <em>first</em> to display 10 rows

In [10]:
first(train, 10)

10×13 DataFrame. Omitted printing of 8 columns
│ Row │ Loan_ID  │ Gender  │ Married │ Dependents │ Education    │
│     │ String   │ String⍰ │ String⍰ │ String⍰    │ String       │
├─────┼──────────┼─────────┼─────────┼────────────┼──────────────┤
│ 1   │ LP001002 │ Male    │ No      │ 0          │ Graduate     │
│ 2   │ LP001003 │ Male    │ Yes     │ 1          │ Graduate     │
│ 3   │ LP001005 │ Male    │ Yes     │ 0          │ Graduate     │
│ 4   │ LP001006 │ Male    │ Yes     │ 0          │ Not Graduate │
│ 5   │ LP001008 │ Male    │ No      │ 0          │ Graduate     │
│ 6   │ LP001011 │ Male    │ Yes     │ 2          │ Graduate     │
│ 7   │ LP001013 │ Male    │ Yes     │ 0          │ Not Graduate │
│ 8   │ LP001014 │ Male    │ Yes     │ 3+         │ Graduate     │
│ 9   │ LP001018 │ Male    │ Yes     │ 2          │ Graduate     │
│ 10  │ LP001020 │ Male    │ Yes     │ 1          │ Graduate     │

### Calculate average (mean from Statistics package) income by gender using <em>by</em> function

In [11]:
using Statistics
by(train, :Gender, :ApplicantIncome => mean)

3×2 DataFrame
│ Row │ Gender  │ ApplicantIncome_mean │
│     │ String⍰ │ Float64              │
├─────┼─────────┼──────────────────────┤
│ 1   │ Male    │ 5446.46              │
│ 2   │ Female  │ 4643.47              │
│ 3   │ missing │ 10333.5              │

### Drop missing values in train and test set using <em>dropmissing<\em> function

In [12]:
train_nona = dropmissing(train)
test_nona = dropmissing(test)

480×13 DataFrame. Omitted printing of 8 columns
│ Row │ Loan_ID  │ Gender │ Married │ Dependents │ Education    │
│     │ String   │ String │ String  │ String     │ String       │
├─────┼──────────┼────────┼─────────┼────────────┼──────────────┤
│ 1   │ LP001003 │ Male   │ Yes     │ 1          │ Graduate     │
│ 2   │ LP001005 │ Male   │ Yes     │ 0          │ Graduate     │
│ 3   │ LP001006 │ Male   │ Yes     │ 0          │ Not Graduate │
│ 4   │ LP001008 │ Male   │ No      │ 0          │ Graduate     │
│ 5   │ LP001011 │ Male   │ Yes     │ 2          │ Graduate     │
│ 6   │ LP001013 │ Male   │ Yes     │ 0          │ Not Graduate │
│ 7   │ LP001014 │ Male   │ Yes     │ 3+         │ Graduate     │
│ 8   │ LP001018 │ Male   │ Yes     │ 2          │ Graduate     │
│ 9   │ LP001020 │ Male   │ Yes     │ 1          │ Graduate     │
│ 10  │ LP001024 │ Male   │ Yes     │ 2          │ Graduate     │
⋮
│ 470 │ LP002953 │ Male   │ Yes     │ 3+         │ Graduate     │
│ 471 │ LP002958 │ Male   │ No      │ 0          │ Graduate     │
│ 472 │ LP002959 │ Female │ Yes     │ 1          │ Graduate     │
│ 473 │ LP002961 │ Male   │ Yes     │ 1          │ Graduate     │
│ 474 │ LP002964 │ Male   │ Yes     │ 2          │ Not Graduate │
│ 475 │ LP002974 │ Male   │ Yes     │ 0          │ Graduate     │
│ 476 │ LP002978 │ Female │ No      │ 0          │ Graduate     │
│ 477 │ LP002979 │ Male   │ Yes     │ 3+         │ Graduate     │
│ 478 │ LP002983 │ Male   │ Yes     │ 1          │ Graduate     │
│ 479 │ LP002984 │ Male   │ Yes     │ 2          │ Graduate     │
│ 480 │ LP002990 │ Female │ No      │ 0          │ Graduate     │

## Label encoder

In [13]:
Pkg.add("ScikitLearn")
using ScikitLearn 
@sk_import preprocessing: LabelEncoder

 Resolving package versions...
  Updating `~/.julia/environments/v1.1/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.1/Manifest.toml`
 [no changes]

┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = import_sklearn() at Skcore.jl:120
└ @ ScikitLearn.Skcore /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:120
┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = top-level scope at Skcore.jl:158
└ @ Core /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:158

PyObject <class 'sklearn.preprocessing.label.LabelEncoder'>

### Apply <em>fit_transform!</em> to for each category

In [14]:
labelencoder = LabelEncoder() 
categories = [2 3 4 5 6 12 13]

1×7 Array{Int64,2}:
 2  3  4  5  6  12  13

In [15]:
for col in categories 
     train_nona[col] = fit_transform!(labelencoder, train_nona[col]) 
end

┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = #fit_transform!#25(::Base.Iterators.Pairs{Union{},Union{},Tuple{},NamedTuple{(),Tuple{}}}, ::Function, ::PyCall.PyObject, ::Array{String,1}) at Skcore.jl:100
└ @ ScikitLearn.Skcore /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:100

### Using convert function create label (y), train(X) and test(X2) arrays

In [16]:
predictors = [:Gender, :Married, :Dependents, :Education, :Self_Employed, 
    :Loan_Amount_Term, :Credit_History, :Property_Area, :LoanAmount]

9-element Array{Symbol,1}:
 :Gender
 :Married
 :Dependents
 :Education
 :Self_Employed
 :Loan_Amount_Term
 :Credit_History
 :Property_Area
 :LoanAmount

In [17]:
y = convert(Array, train_nona[:13]) 
X = convert(Array, train_nona[predictors]) 
X2 = convert(Array, test_nona[predictors])

┌ Warning: `convert(::Type{Array}, df::AbstractDataFrame)` is deprecated, use `convert(Matrix, df)` instead.
│   caller = top-level scope at In[17]:2
└ @ Core In[17]:2
┌ Warning: `convert(::Type{Array}, df::AbstractDataFrame)` is deprecated, use `convert(Matrix, df)` instead.
│   caller = top-level scope at In[17]:3
└ @ Core In[17]:3

480×9 Array{Any,2}:
 "Male"    "Yes"  "1"   "Graduate"      "No"   360  1  "Rural"      128
 "Male"    "Yes"  "0"   "Graduate"      "Yes"  360  1  "Urban"       66
 "Male"    "Yes"  "0"   "Not Graduate"  "No"   360  1  "Urban"      120
 "Male"    "No"   "0"   "Graduate"      "No"   360  1  "Urban"      141
 "Male"    "Yes"  "2"   "Graduate"      "Yes"  360  1  "Urban"      267
 "Male"    "Yes"  "0"   "Not Graduate"  "No"   360  1  "Urban"       95
 "Male"    "Yes"  "3+"  "Graduate"      "No"   360  0  "Semiurban"  158
 "Male"    "Yes"  "2"   "Graduate"      "No"   360  1  "Urban"      168
 "Male"    "Yes"  "1"   "Graduate"      "No"   360  1  "Semiurban"  349
 "Male"    "Yes"  "2"   "Graduate"      "No"   360  1  "Urban"       70
 "Male"    "Yes"  "2"   "Graduate"      "No"   360  1  "Urban"      200
 "Male"    "No"   "0"   "Graduate"      "No"   360  1  "Rural"      114
 "Male"    "Yes"  "2"   "Graduate"      "No"   120  1  "Urban"       17
 ⋮                                               ⋮
 "Male"    "Yes"  "2"   "Graduate"      "No"   360  1  "Urban"      192
 "Male"    "Yes"  "3+"  "Graduate"      "No"   360  1  "Urban"      128
 "Male"    "No"   "0"   "Graduate"      "No"   360  1  "Rural"      172
 "Female"  "Yes"  "1"   "Graduate"      "No"   360  1  "Semiurban"  496
 "Male"    "Yes"  "1"   "Graduate"      "No"   360  1  "Semiurban"  173
 "Male"    "Yes"  "2"   "Not Graduate"  "No"   360  1  "Rural"      157
 "Male"    "Yes"  "0"   "Graduate"      "No"   360  1  "Rural"      108
 "Female"  "No"   "0"   "Graduate"      "No"   360  1  "Rural"       71
 "Male"    "Yes"  "3+"  "Graduate"      "No"   180  1  "Rural"       40
 "Male"    "Yes"  "1"   "Graduate"      "No"   360  1  "Urban"      253
 "Male"    "Yes"  "2"   "Graduate"      "No"   360  1  "Urban"      187
 "Female"  "No"   "0"   "Graduate"      "Yes"  360  0  "Semiurban"  133

## Fit model using ScikitLearn

In [18]:
Pkg.add("ScikitLearn")
using ScikitLearn 
@sk_import linear_model: LogisticRegression
using ScikitLearn: fit!, predict

 Resolving package versions...
  Updating `~/.julia/environments/v1.1/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.1/Manifest.toml`
 [no changes]

┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = top-level scope at Skcore.jl:158
└ @ Core /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:158

In [19]:
model = LogisticRegression()
fit!(model, X, y)

┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = #fit!#31(::Base.Iterators.Pairs{Union{},Union{},Tuple{},NamedTuple{(),Tuple{}}}, ::Function, ::PyCall.PyObject, ::Array{Int64,2}, ::Vararg{Any,N} where N) at Skcore.jl:100
└ @ ScikitLearn.Skcore /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:100
┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = tweak_rval(::PyCall.PyObject) at Skcore.jl:92
└ @ ScikitLearn.Skcore /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:92

PyObject LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
predictions = predict(model, X)

┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = #predict#26(::Base.Iterators.Pairs{Union{},Union{},Tuple{},NamedTuple{(),Tuple{}}}, ::Function, ::PyCall.PyObject, ::Array{Int64,2}) at Skcore.jl:100
└ @ ScikitLearn.Skcore /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:100

480-element Array{Int64,1}:
 1
 1
 1
 1
 1
 1
 0
 1
 1
 1
 1
 1
 1
 ⋮
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 0

## Evaluation

### Calculate accuracy

In [21]:
@sk_import metrics: accuracy_score

┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = top-level scope at Skcore.jl:158
└ @ Core /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:158

PyObject <function accuracy_score at 0x1a49d881e0>

In [22]:
accuracy = accuracy_score(predictions, y) 
println("Accuracy : ", accuracy)

Accuracy : 0.8083333333333333

### Import <em>cross_val_score</em> from model_selection module. Use <em>cross_val_score</em> to do cross validation with 5 folds

In [23]:
@sk_import model_selection: cross_val_score  
cross_score = cross_val_score(model, X, y, cv=5)

┌ Warning: Module model_selection has been ported to Julia - try `import ScikitLearn: CrossValidation` instead
└ @ ScikitLearn.Skcore /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:140
┌ Warning: `getindex(o::PyObject, s::Symbol)` is deprecated in favor of dot overloading (`getproperty`) so elements should now be accessed as e.g. `o.s` instead of `o[:s]`.
│   caller = top-level scope at Skcore.jl:158
└ @ Core /Users/sandrapietrowska/.julia/packages/ScikitLearn/HK6Vs/src/Skcore.jl:158

5-element Array{Float64,1}:
 0.8041237113402062
 0.7835051546391752
 0.7708333333333334
 0.8631578947368421
 0.7894736842105263